@model PreRendered.Models.SignInModel

@{
    ViewBag.Title = "SignIn Mobile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>
        The information you are about to see is personalized and is intended only for the recipient of this e-mail.
        Please confirm your identity by entering the following information:
    </h4>

    <div class="form-horizontal">
        <hr />
        <br/>
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        @*<fieldset data-role="fieldcontain">
            @Html.LabelFor(model => model.BirthDate)
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </fieldset>*@
        
        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
        </div>
        
        <br/>

        <div class="form-group">
            @Html.LabelFor(model => model.Ssn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ssn)
                @Html.ValidationMessageFor(model => model.Ssn)
            </div>
        </div>
        
        <br/>

        @*<div data-role="fieldcontain">
            <label for="ssn">Last 4 of SSN:</label>
            <input type="tel" name="ssn" id="ssn" value="" />
        </div>*@
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="View Personalized Video" class="btn btn-default" />
            </div>
        </div>*@
        @*<button class="ui-btn ui-shadow" data-icon="video">View Personalized Video</button>*@
        <button data-icon="video" data-iconpos="top">View Personalized Video</button>
    </div>
}
<br/>
<div>
    @Html.ActionLink("Back to Intro", "Index")
</div>
<br/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
