@model PreRendered.Models.UserSessionVideoModel

@{
    ViewBag.Title = "Survey";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.VideoCampaignMemberId)
    <input type="hidden" value="@ViewBag.ShowModal" id="hidShowModal"/>
    <input type="hidden" value="@ViewBag.Replay" id="hidReplay"/>

    <div class="jumbotron">
        <p>
            <div class="video-content">
                <div id="video-videojs1" class="video-js vjs-default-skin vjs-playing">
                    <video id="videoplayer" class="vjs-tech"
                           controls preload="auto" width="auto" height="auto"
                           data-setup="{}">
                        <source src=@ViewBag.Vid
                                type='video/mp4' />
                    </video>
                </div>
            </div>
            <p class="vjs-no-js" style="text-align:center">
                <br/>
                Was this information helpful to you?
            
                <button class="btn btn-default" name="button" value="YES">Yes</button>
                <button class="btn btn-default" name="button" value="NO">No</button>
            </p>
        </p>
    </div>
    
    <div class="modal fade" id="survey-modal">
        <div class="modal-header third-height">
           <a class="close" data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body third-height">
            <div class="one-third">
                <a href="../Home/Survey?replay=1"
                   class="btn btn-primary btn-large">Replay Animation</a>
            </div>
            <div class="one-third">
                <a href="../Home/Survey?goCch=1" target="_blank"
                   class="btn btn-primary btn-large">Login to ClearCost Health</a>
            </div>
            <div class="one-third">
                <a href="../Home/Survey?goBenefits=1" target="_blank"
                   class="btn btn-primary btn-large">Learn More About Your Benefits</a>
            </div>
        </div>
        <div class="modal-footer third-height">
            &nbsp;
        </div>
    </div>
    
}
<script type="text/javascript">

    $(document).ready(function () {
        if ($('#hidShowModal').val() == 1) {
            $('#survey-modal').modal({ show: true });
        } else {
            $('#survey-modal').modal({ show: false });
        }
        if ($('#hidReplay').val() == 1) {
            window.VideoJS("videoplayer").play();
        } else {
            window.VideoJS("videoplayer").bigPlayButton.show();
            window.VideoJS("videoplayer").currentTime(0);
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
