@using DynamicAnimation.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CCH Personalized Animations</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        document.createElement('video'); document.createElement('audio'); document.createElement('track');
    </script>
    <link href="https://vjs.zencdn.net/c/video-js.css" rel="stylesheet" />
    <script type="text/javascript" src="https://vjs.zencdn.net/c/video.js"></script>

    <style type="text/css">
        .video-content {
            width: 100%;
            max-width: 1500px;
            background-color: deepskyblue;
        }
        .video-js {
            padding-top: 56.25%;
        }
        .vjs-fullscreen {
            padding-top: 0px;
        }
        .navbar-inverse {
            background-color: white;
            border-color: #080808;
        }
        .btn.btn-default {
            font-size: 16px;
            font-weight: bold;
        }
        .left-column {
            float: left;
            padding-top: 50px;
            width: 40%;
        }
        .right-column {
            float: left;
        }
        .one-third {
            float: left;
            width: 33%;
            text-align: center;
            padding: 50px;
        }
        .full-height {
            height: 100%;
        }
        .third-height {
            height: 33%;
        }
        div.jumbotron {
            font-size: 16px;
        }
        .btn-large {
            font-size: 21px;
        }
        .two-buttons {
            clear: both;
            text-align: center;
            padding-top: 3%;
        }

        .greenButton {
	        -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	        -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	        box-shadow:inset 0px 1px 0px 0px #a4e271;
	        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	        background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	        background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	        background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	        background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	        background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	        background-color:#89c403;
	        -moz-border-radius:6px;
	        -webkit-border-radius:6px;
	        border-radius:6px;
	        border:1px solid #74b807;
	        display:inline-block;
	        cursor:pointer;
	        color:#ffffff;
	        font-family:arial;
	        font-size:15px;
	        font-weight:bold;
            padding: 6px 40px;
            margin: 20px 40px;
	        text-decoration:none;
	        text-shadow:0px 1px 0px #528009;
            max-width: 400px;
        }
        .greenButton:hover {
	        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	        background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	        background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	        background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	        background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	        background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	        background-color:#77a809;
        }
        .greenButton:active {
	        position:relative;
	        top:1px;
        }
    </style>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jquery/jquery-1.6.2.min.js">
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*@Html.ActionLink("ClearCost Health", "Index", "Home", null, new { @class = "navbar-brand" })*@
                @Html.ImageLink("https://home.clearcosthealth.com",
                    "CCH-Logo.jpg", "ClearCost Health", "400px", "background-color: Transparent;", false)
            </div>
            @*@Html.Partial("_ViewSwitcher")*@
        </div>
    </div>
        @RenderBody()
    <hr />
    <footer>
        <p>&copy; ClearCost Health @DateTime.Now.Year</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
