@model BizContents.Campaign

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignActiveInd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignActiveInd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetPopulationDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetPopulationDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignPeriodDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignPeriodDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthRequiredInd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthRequiredInd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavingsMonthStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingsMonthStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampaignID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
